@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: black;
}

#excuse{
    background: transparent;
    color: blueviolet;
    border-color: blueviolet;
    font-size: 20px;
    text-shadow: 
        /*0 0 5px #0ff,*/
        0 0 10px #0ff,
        0 0 20px #0ff,
        0 0 80px #0ff;
}