@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: black;
}

#excuse{
    background: transparent;
    color: rgb(255, 115, 68);
    border-color: rgb(226, 104, 43);
    font-size: 20px;
    text-shadow: 
        /*0 0 5px #0ff,
        0 0 20px #fff,
        0 0 80px #fff;*/
}

#imagen {
    width: 50%;
    height: auto;
}